.blog-post{
    white-space: nowrap; 

    overflow: hidden;
    text-overflow: ellipsis;
    
}
body{
    /* background-color: #0e1217; */
    background-color: white;
   
}

.single-post{
    /* border: 1px solid black; */
    /* background-color: #1c1f26; */
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    margin: 5px;
    width: 320px;
}
.post-image{
    border-radius: 5px;
    height: 80%;
}
.logo{
    margin-top: 10px;
    height: 30px;
    margin-right: 10px;
}