.blog-post{
    white-space: nowrap; 

    overflow: hidden;
    text-overflow: ellipsis;
    
}
body{
    /* background-color: #0e1217; */
    background-color: white;
   
}



.logo{
    margin-top: 10px;
    height: 30px;
    margin-right: 10px;
}